<!-- views/partials/reviews-form.handlebars -->

<fieldset>
  <legend>{{title}}</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="review-title">Title</label><br>
    <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}"/>
  </div>

  <!-- MOVIE TITLE -->
  <div class="form-group">
    <label for="movie-title">Movie Title</label><br>
    <input class="form-control" id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="review-description">Description</label><br>
    <textarea class="form-control" id="review-description" name="description" rows="10" />{{review.description}}</textarea>
  </div>

   <!-- STAR RATING -->
   <div class="form-group"></div>
        <select name="rating" class="form-control">
            <option value="+0">0 stars</option>
            <option value="+1">1 stars</option>
            <option value="+2">2 stars</option>
            <option value="+3" selected>3 stars</option>
            <option value="+4">4 stars</option>
            <option value="+5">5 stars</option>
        </select>
    </div>
</fieldset>