<!-- views/partials/reviews-form.handlebars -->

<fieldset>
    <legend>Edit Review</legend>
  <!-- TITLE -->
    <p>
        <label for="review-title">Title</label><br>
        <input id="review-title" type="text" name="title" value="{{review.title}}"/>
    </p>

  <!-- MOVIE TITLE -->
    <p>
        <label for="movie-title">Movie Title</label><br>
        <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </p>

  <!-- DESCRIPTION -->
    <p>
        <label for="review-description">Description</label><br>
        <textarea id="review-description" name="description" rows="10" />{{review.description}}</textarea>
    </p>

  <!-- STAR RATING -->
    <select name="rating">
        <option value="+0">0 stars</option>
        <option value="+1">1 stars</option>
        <option value="+2">2 stars</option>
        <option value="+3" selected>3 stars</option>
        <option value="+4">4 stars</option>
        <option value="+5">5 stars</option>
    </select>
</fieldset>
